// Rubik
@font-face {
  font-family: 'Rubik Regular';
  src: url('/font/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik Medium';
  src: url('/font/Rubik-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik Bold';
  src: url('/font/Rubik-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
