@import "variable";

// media
@mixin max-media600 {
  @media (max-width: #{599px}) {
    @content;
  }
}
@mixin max-media768 {
  @media (max-width: #{767px}) {
    @content;
  }
}
@mixin max-media991 {
  @media (max-width: #{991px}) {
    @content;
  }
}
@mixin max-media1023 {
  @media (max-width: #{1023px}) {
    @content;
  }
}
@mixin max-media1199 {
  @media (max-width: #{1199px}) {
    @content;
  }
}

// other mixins
@mixin flex($aitem, $jcontent) {
  display: flex;
  align-items: $aitem;
  justify-content: $jcontent;
}
@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

// Common styles for headers
@mixin title-h1 {
  font: 700 64px/64px var(--font);
  @include max-media991 {
    font-size: 40px;
    line-height: 40px;
  }
}
@mixin title-h4 {
  font: 500 24px/36px var(--font);
  @include max-media991 {
    font-size: 18px;
    line-height: 28px;
  }
}

// font size for paragraphs
@mixin p-normal {
  font: 20px/30px var(--font);
  @include max-media991 {
    font-size: 16px;
    line-height: 24px;
  }
}
@mixin p-small {
  font: 16px/24px var(--font);
}
