@import "assets/styles/variables";
@import "assets/styles/fonts";

:global {

  :root {
    --title-height: 70px;
    --window-padding: 20px;

    &.dark {
      --bg-color: rgb(56, 55, 55);
      --text-color: rgb(223, 222, 222);
    }

    &.light {
      --bg-color: rgb(236, 236, 236);
      --text-color: rgb(53, 53, 53);
    }

    font-family: 'Roboto', sans-serif;
    height: 100%;
    font-size: var(--base-font-size);
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  body {
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    position: relative;
    padding: calc(var(--title-height) + var(--window-padding)) var(--window-padding) var(--window-padding);
    display: flex;
    flex-direction: column;
  }

  :not(input) {
    user-select: none;
  }

  #content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  #controls {
    position: fixed;
    z-index: 1;
  }

  button {
    -webkit-app-region: no-drag;
    padding: 0 13px;
    height: 19px;
    line-height: 1;
    border: none;
    background-color: #626162;
    box-shadow: inset 0 0.2px 0 0 #fff, 0 0.5px 1px #222;
    color: #fff;
    font-size: 13px;
    border-radius: 5px;

    &.active, &.primary, &[type="submit"] {
      background-image: linear-gradient(to bottom, #1869e6, #155ecc);
    }

    &:active:not(:disabled) {
      background-image: linear-gradient(to bottom, #1973f9, #166ae8) !important;
    }

    &:disabled {
      background-color: rgba(98, 97, 98, 0.5);
      color: rgba(255, 255, 255, 0.5);

      &.active, &.primary, &[type="submit"] {
        background-color: transparent;
        background-image: linear-gradient(to bottom, rgba(24, 105, 230, 0.5), rgba(21, 94, 204, 0.5));
      }
    }

  }

  select {
    -webkit-appearance: none;
    padding: 0 29px 0 13px;
    box-sizing: border-box;
    height: 19px;
    line-height: 1;
    border: none;
    background-color: #626162;
    background-image: url('data:image/svg+xml;utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="19" viewBox="0 0 16 19"><polyline points="4.5,7.5 8,4 11.5,7.5" stroke="white" stroke-width="1.5" stroke-linejoin="round" stroke-linecap="round" fill="transparent" /><polyline points="4.5,11.5 8,15 11.5,11.5" stroke="white" stroke-width="1.5" stroke-linejoin="round" stroke-linecap="round" fill="transparent" /></svg>'),
                      linear-gradient(to bottom, #1869e6, #155ecc);
    background-position: right center,
                         right center;
    background-size: 16px 19px,
                     16px 100%;
    background-repeat: no-repeat,
                       no-repeat;
    box-shadow: inset 0 0.2px 0 0 #fff,
                0 0.5px 1px #222;
    color: #fff;
    font-size: 13px;
    border-radius: 5px;
    min-width: auto;
    width: auto;
    justify-self: start;
  }

  :focus {
    outline: none;
  }

  .window-title {
    -webkit-app-region: drag;
    -webkit-user-select: none;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--title-height);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--brand-color);
    background-image: linear-gradient(to bottom, var(--brand-color), #d40300);

    h1 {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      color: #fff;
      margin: 0;
      display: flex;
      align-items: center;
      font-size: 1.7em;

      &::before {
        content: '';
        display: block;
        margin: 0 15px;
        width: 2px;
        height: 30px;
        background-color: #fff;
      }
    }
  }

  form {
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) minmax(1fr, 300px);
    grid-auto-rows: minmax(16px, auto);
    grid-gap: 20px 10px;

    label {
      border: none;
      max-width: 200px;
      align-self: center;
      justify-self: end;
      grid-column: 1 / span 1;
      font-weight: 500;
    }

    input, textarea, output {
      min-width: 200px;
      align-self: center;
      justify-self: start;
      grid-column: 2 / span 1;
    }

    input[type="number"] {
      width: auto;
      padding: 0 13px;
      height: 19px;
      line-height: 1;
      border: none;
      background-color: #626162;
      box-shadow: inset 0 0.2px 0 0 #fff, 0 0.5px 1px #222;
      color: #fff;
      font-size: 13px;
      border-radius: 5px;
    }

    input {
      height: 24px;
      padding: 0 7px;
      background-color: #262525;
      border: 1px solid #727274;
      color: var(--text-color);
      font-size: var(--base-font-size);
      line-height: 1;
    }

    .actions {
      grid-column: 2 / span 1;
      display: flex;
      align-items: center;

      > * + * {
        margin-inline-start: 10px;
      }
    }

    hr {
      grid-column: 1 / span 2;
      width: 100%;
      border: none;
      border-top: 1px solid #727274;
      height: 0;
    }

  }

  .react-tooltip-lite {
    border-radius: 4px;
    background: #000;
    color: white;
  }

  .react-tooltip-lite-arrow {
    border-color: #000;
  }

}

