.list {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  > div {
    display: block;
    background-color: #212225;

    &:nth-child(2n) {
      background-color: #2B2C2F;
    }
  }

  &:not(:empty) {
    margin-block-start: 10px;
  }
}

.line {
  height: 43px;

  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  display: flex;

  .iconsGroup {
    min-width: 80px;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .icon {
    width: 25px;
    height: 25px;
    margin: 0 5px;

    img {
      width: 25px;
      height: 25px;
    }
  }

  @keyframes rotating {
    to {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    from {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .syncing {
    animation: rotating 2s linear infinite;
  }

  .count {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    text-align: center;
    border-radius: 50%;
    color: white;

    &:empty {
      background-color: transparent;
    }
  }


  .time {
    width: 160px;
    margin-left: 10px;
    line-height: 43px;
    grid-area: time;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .name {
    line-height: 43px;
    grid-area: name;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: none;
  }

  .actions {
    line-height: 43px;
    grid-area: actions;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
  }

  .open-button {
    img {
      max-height: 100%;
    }
  }

}

.applist {
  user-select: text;
  padding: 5px 5px 5px 25px;

  ul {
    list-style: none;
    padding: 0 10px;
  }
}

.toClipboardText {
  user-select: all;
}

@media (min-width: 1050px) {
  .line {
    .name {
      display: block;
    }
  }
}



