:global body {
  --title-height: 0px;
}
.about {
  text-align: center;
  .logo {
  }
  .name {
    font-size: 2em;
  }
  .version {
  }
  .copyright {

  }
  .links {
    a {
      color: #e11916;
    }
  }
}

