:global body {
  --title-height: 0px;
}
.about {
  text-align: center;
  .logo {
  }
  .name {
    font-size: 2em;
  }
  .version {
  }
  .copyright {

  }
  .links {
    a {
      color: #e1392e;
    }
  }


  .separator {
    display: inline-block;
    border-width: 0 1px 0 0;
    border-color: currentColor;
    border-style: solid;
    height: 1em;
    vertical-align: middle;
    width: 0;
    margin: 0 10px;
  }
}


