{
  "environment": {
    "services": {
      "appodeal": "https://api.appodeal.com/graphql",
      "ad_mob": "https://apps.admob.com"
    },
    "sentry": {
      "dsn": ""
    },
    "basicAuth": {
      "login": "",
      "password": ""
    }
  }
}
