{
  "environment": {
    "services": {
      "appodeal": "https://staging7.appodeal.com/admob_plugin/api/v3/graphql",
      "ad_mob": "https://apps.admob.com"
    },
    "basicAuth": {
      "login": "",
      "password": ""
    }
  }
}
