{
  "environment": {
    "services": {
      "appodeal": "https://api.appodeal.com/graphql",
      "ad_mob": "https://apps.admob.com"
    },
    "sentry": {
      "dsn": ""
    },
    "basicAuth": {
      "login": "",
      "password": ""
    },
    "multipleAccountsSupport": false,
    "updates": {
      "releaseNotesUrl": "https://wiki.appodeal.com",
      "updatesServerUrl": "https://amsa-updates.appodeal.com",
      "login": "",
      "password": ""
    }
  }
}
