{
  "environment": {
    "services": {
      "appodeal": "https://api.appodeal.com",
      "ad_mob": "https://apps.admob.com"
    }
  },
  "manifest": {
  	"background": {
  	  "persistent": false
  	}
  }
}