.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;

  p {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
