.setupRequired {
  background-color: rgba(255, 165, 0, 0.2);
  padding: 14px;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 165, 0, 0.4);
  border-radius: 5px;
  margin-block-end: 10px;

  h1 {
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 14px;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1;
  }

  p {
    margin: 0;
  }

  form {
    margin-block-start: 14px;
    grid-gap: 14px 10px;
  }
}

.syncProgress {
  margin-top: 5px;
}
