<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <base href="./">
    <meta charset="UTF-8">
    <title>APPODEAL | AdMob Sync</title>
</head>
<body>
<header class="window-title">
    <img src="<%= require('./../assets/images/logo.svg') %>" alt="Appodeal" draggable="false">
    <h1>AdMob Sync</h1>
</header>
<section id="content"></section>
<div id="controls"></div>
</body>
</html>
